.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 400px;
	background-color: blue;
	align-items: center;
	align-content: space-between;
}
.item {
	background-color: lightblue;
	margin: 20px;
	margin: 60px;
	height: 60px;
	width: 60px;
	padding:  10px;
	font-size:  30px;
}
#item1 {
	order: -1;
	flex-grow: 2 ;

}
#item2 {
	order: -1;
	flex-grow: 2 ;
	align-self: flex-start;
}
#item3{
	order: -1;
	flex-grow: 2 ;
}
#item4{
	order: -1;
	flex-grow: 2 ;
}
